@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .bg-dark-body{
        background-color: #292B32;
    }

    .sports-card-bg-dark{
        background-color: #3B3E47;
    }

    .dark-sub-text{
        color: #DFDFDF;
    }

    body{
        background-color: #F7F7F8;
        @apply dark:bg-dark-body overflow-x-hidden flex flex-col items-center;
    }

    .sports-cards-container > * {
        @apply bg-white h-auto dark:sports-card-bg-dark overflow-hidden mb-10;
        width: 229px;
        padding: 8px;
        -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
    }

    .sub-text-label{
        color: #DFDFDF;
    }

    .sports-card-ul-bg-dark{
        background-color: #292B32;
    }

    .sports-cards-container > * div ul{
        background-color: #F7F7F8;
        display: flex;
        @apply py-2 px-4 dark:sports-card-ul-bg-dark;
    }

    .sports-cards-container > * div ul li{
        @apply w-1/2;
    }

    .sports-cards-container > * div ul li p:first-child{
        @apply text-xs font-normal dark:sub-text-label;
        color: #525965;
    }

    .sports-cards-container > * div ul li p:nth-child(2){
        @apply text-sm font-medium;
    }

    #see-more-button{
        background-color: #2C9CF0;
    }

    .advertisement > div{
        @apply h-full !important;
        border: 0.5px solid #006555
    }

    .shift-button{
        @apply h-12 w-9 flex justify-center;
    }

    .shift-button span{
        color: #2C9CF0;
    }

    .cs-container{
        background: linear-gradient(180deg, #F9F8FF 0%, #F3F9FF 100%);
    }

    .cs-card{
        @apply bg-white dark:cs-card-bg-dark mb-12;
        max-width: 250px;
        -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
    }

    .cs-card-bg-dark{
        background-color: #818A97;
    }

    .cs-card > div {
        @apply pt-1.5;
    }

    .cs-card div:nth-child(2){
        @apply p-1.5 pt-0 text-center;
    }

    .cs-card div:nth-child(2) p{
        @apply mb-3;
    }

    .cs-card div:nth-child(2) p:nth-child(3){
        color: #DFDFDF;
    }

    .cs-card button{
        background-color: #1D1D1F;
        @apply text-white text-sm font-medium px-7 py-2 mb-4;
    }

    .cs-container-dark{
        background: linear-gradient(180deg, #18282A 0%, #221A2C 100%);
    }

    @media screen and (max-width: 1432px){
        .sports-cards-container{
            @apply justify-around;
        }
    }

    @media screen and (max-width: 1237px){
        .sports-cards-container{
            @apply justify-around;
        }

        .cs-container div:nth-child(3) div:nth-child(2){
            @apply flex-col items-center;
        }
    }
}